.bg-or {
    background-color: var(--clr-or);
}

.bg-but {
    background-color: var(--clr-but);
}

.bg-and {
    background-color: var(--clr-and);
}

.hero {
    width:100%;
}

.container-hero {
    max-height:500px;
    overflow: hidden;
}

.vid, .comic {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.comic {
    padding-top: 5%;
}

.content {
    text-align: center; 
    z-index: 3;
}



/* Navbar */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.wrapper-or, .menu-btn-or {
    background: linear-gradient(90deg, #FFD4EC 0%, #FFB7E0 50%, #FF9AD4 100%);
}

.wrapper-but, .menu-btn-but {
    background: linear-gradient(90deg, #c6b2e8 0%, #af93de 50%, #9974d5 100%);
}

.wrapper-and, .menu-btn-and {
    background: linear-gradient(90deg, #b1ccf3 0%, #91b8ee 50%, #72a4e9 100%);
}

.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
    visibility: hidden;
  }
  #active:checked ~ .wrapper{
    clip-path: circle(75%);
  }
  .menu-btn{
    position: absolute;
    z-index: 2;
    right: 20px;
    /* left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .menu-btn{
    background: #fff;
    color: var(--clr-primary-400);
  }
  
  #active:checked ~ .menu-btn i:before{
    content: "\f00d";
  }

  #active:checked ~ #content{
    opacity:0;
    visibility: hidden;
  }

  #active:checked ~ .wrapper{
    visibility: visible;
  }

  .wrapper ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .wrapper ul li{
    margin: 15px 0;
  }
  .wrapper ul li a{
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
  }
  .wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    height: 50px;
    left: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: var(--clr-primary-400);
  }
  input[type="checkbox"]{
    display: none;
  }