/* * {
    box-sizing: border-box;
} */

body {
  overflow: hidden;
}

@font-face {
  font-family: font1;
  src: url("/font/BestSchoolFontbyKelik.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: font2;
  src: url("/font/HeyComic.otf") format("opentype");
  font-weight: bold;
}

.bg-homepage {
  position: relative;
}

.bg-homepage::before {
  opacity: 0.5 ;
  z-index: -10;
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("/img/BG-2.png") ;
  background-size: cover;
  background-attachment: scroll;
}

.content {
    text-align: center; 
    z-index: 3;
}

/* Navbar */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.wrapper{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #ff70c2 0%, #8e67d2 50%, #629ae7 100%);
    clip-path: circle(25px at calc(100% - 45px) 45px);
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    font-family: font2;
  }
  #active:checked ~ .wrapper{
    clip-path: circle(75%);
  }
  .menu-btn{
    position: absolute;
    z-index: 2;
    right: 20px;
    /* left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(90deg, #ff70c2 0%, #8e67d2 50%, #629ae7 100%);
    /* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
    transition: all 0.3s ease-in-out;
  }
  #active:checked ~ .menu-btn{
    background: #fff;
    color: #4158d0;
  }
  #active:checked ~ .menu-btn i:before{
    content: "\f00d";
  }

  #active:checked ~ #content{
    opacity:0;
    visibility: hidden;
  }

  #active:checked ~ .wrapper{
    visibility: visible;
  }

  .wrapper ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }
  .wrapper ul li{
    margin: 15px 0;
  }
  .wrapper ul li a{
    color: none;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
    padding: 5px 30px;
    color: #fff;
    position: relative;
    line-height: 50px;
    transition: all 0.3s ease;
  }
  .wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
    width: 100%;
    height: 50px;
    left: 0;
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
    transform: scaleY(1);
  }
  .wrapper ul li a:hover{
    color: #4158d0;
  }
  input[type="checkbox"]{
    display: none;
  }


/* Title */
.nine h1 {
    text-align:center; font-size:50px; text-transform:uppercase; color:#222; letter-spacing:1px;
    font-family: font2; font-weight:400;
    letter-spacing: 1rem;
}

/* .space {
  margin-right: 10px;
  margin-left: 10px;
} */

.nine h1 .sub-title {
    margin-top: 5px;
    font-size:15px; color:#444; word-spacing:1px; font-weight:normal; letter-spacing:2px;
    text-transform: uppercase; font-family: font1; font-weight:500;
  
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}
  
.nine h1 .sub-title:after,.nine h1 .sub-title:before {
    content: " ";
    display: block;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    height: 0px;
    background-color:transparent;
}

/* Heroes Wiggling */

.animate {
	animation: seek-attention 2s infinite;
	font-size: 30px;
	animation-play-state: running;
    padding-bottom: 10%;
}

.animate:hover {
	animation-play-state: paused;
}



@keyframes seek-attention {
  0% {
    transform: none;
  }
  50% {
    transform: rotateZ(-5deg) scale(1);
  }
  60% {
    transform: rotateZ(7deg) scale(1);
  }
  67.5% {
    transform: rotateZ(-5deg) scale(1);
  }
  75% {
    transform: rotateZ(5deg) scale(1);
  }
  82.5% {
    transform: rotateZ(-2deg) scale(1);
  }
  85% {
    transform: rotateZ(5) scale(1);
  }
  100% {
    transform: rotateZ(0) scale(1);
  }
}

/* @media only screen and (max-width: 1024px) {
    padding: 8rem 0 6rem;
} */

@media only screen and (max-width: 768px) {
    /* .space {
      padding-left: 0px;
      padding-right: 0px;
    } */

    body {
      overflow: visible;
    }

    .nine {
      padding-top: 25px;
    }

    .animate {
        padding-top: 5%;
    }

    @keyframes seek-attention {
      0% {
        transform: none;
      }
      50% {
        transform: rotateZ(-10deg) scale(1);
      }
      60% {
        transform: rotateZ(15deg) scale(1);
      }
      67.5% {
        transform: rotateZ(-5deg) scale(1);
      }
      75% {
        transform: rotateZ(5deg) scale(1);
      }
      82.5% {
        transform: rotateZ(-2deg) scale(1);
      }
      85% {
        transform: rotateZ(0) scale(1);
      }
      100% {
        transform: rotateZ(0) scale(1);
      }
    }
}


/* Button Wiggling */

.button {
    width: 200px;
    color: #555555;
    border: 2px solid #555555;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
    font-family: font2;
}

.btn-or {
    background-color: #ff70c280;
}

.btn-but {
    background-color: #8e67d280;
}

.btn-and {
    background-color: #629ae780;
}

.btn-or:hover {
    background-color: #ff70c2;
    color: white;
}

.btn-but:hover {
    background-color: #8e67d2;
    color: white;
}

.btn-and:hover {
    background-color: #629ae7;
    color: white;
}

.button:hover span {
    display:none
}

.button:hover:before {
    content:"Let's Go!";
    font-weight: bold;
}


/*Bounce*/



@keyframes kreep {
    0% {-webkit-transform: scale(1.1,.9);
        transform: scale(1.1,.9);}
   50% { -webkit-transform: scale(.9,1.1) translateY(-.5rem)}
   70% { -webkit-transform: scale(1);
         transform: scale(1);}
}

h1.kreep {
  align-items: center;
  display: inline-block;
  /*name-duration-function(ease,eas-in,linear)-delay-count-direction */
  animation: kreep 0.7s ease 2s infinite alternate;
}

h1.kreep:hover {
  animation: none;
}
/*END BOUNCER*/

/*SHAKER*/
@keyframes wiggle {
  2% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  4% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  6% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  8% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  10% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  12% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  14% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  16% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  18% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  20% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

h1.wiggle {
  display: inline-block;
  animation: wiggle 2.7s infinite;
}

h1.wiggle:hover {
  animation: none;
}
/*END SHAKER*/