.content {
    text-align: center; 
}

/* Heroes Wiggling */

.animate {
	animation: seek-attention 2s infinite;
	font-size: 30px;
	animation-play-state: running;
    padding-bottom: 10%;
}

.animate:hover {
	animation-play-state: paused;
}



@keyframes seek-attention {
  0% {
    transform: none;
  }
  50% {
    transform: rotateZ(-5deg) scale(1);
  }
  60% {
    transform: rotateZ(7deg) scale(1);
  }
  67.5% {
    transform: rotateZ(-5deg) scale(1);
  }
  75% {
    transform: rotateZ(5deg) scale(1);
  }
  82.5% {
    transform: rotateZ(-2deg) scale(1);
  }
  85% {
    transform: rotateZ(5) scale(1);
  }
  100% {
    transform: rotateZ(0) scale(1);
  }
}

/* @media only screen and (max-width: 1024px) {
    padding: 8rem 0 6rem;
} */

@media only screen and (max-width: 768px) {
    .animate {
        padding-top: 5%;
    }

    @keyframes seek-attention {
      0% {
        transform: none;
      }
      50% {
        transform: rotateZ(-10deg) scale(1);
      }
      60% {
        transform: rotateZ(15deg) scale(1);
      }
      67.5% {
        transform: rotateZ(-5deg) scale(1);
      }
      75% {
        transform: rotateZ(5deg) scale(1);
      }
      82.5% {
        transform: rotateZ(-2deg) scale(1);
      }
      85% {
        transform: rotateZ(0) scale(1);
      }
      100% {
        transform: rotateZ(0) scale(1);
      }
    }
}


/* Button Wiggling */

.button {
    width: 200px;
    color: #555555;
    border: 2px solid #555555;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 20px;
}

.btn-or {
    background-color: #ff70c280;
}

.btn-but {
    background-color: #8e67d280;
}

.btn-and {
    background-color: #629ae780;
}

.btn-or:hover {
    background-color: #ff70c2;
    color: white;
}

.btn-but:hover {
    background-color: #8e67d2;
    color: white;
}

.btn-and:hover {
    background-color: #629ae7;

}

.button:hover span {
    display:none
}

.button:hover:before {
    content:"Let's Go!";
    font-weight: bold;
}


/*Bounce*/



@keyframes kreep {
    0% {-webkit-transform: scale(1.1,.9);
        transform: scale(1.1,.9);}
   50% { -webkit-transform: scale(.9,1.1) translateY(-.5rem)}
   70% { -webkit-transform: scale(1);
         transform: scale(1);}
}

h1.kreep {
  align-items: center;
  display: inline-block;
  /*name-duration-function(ease,eas-in,linear)-delay-count-direction */
  animation: kreep 0.7s ease 2s infinite alternate;
}

h1.kreep:hover {
  animation: none;
}
/*END BOUNCER*/

/*SHAKER*/
@keyframes wiggle {
  2% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  4% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  6% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  8% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
  10% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  12% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  14% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }
  16% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }
  18% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }
  20% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

h1.wiggle {
  display: inline-block;
  animation: wiggle 2.7s infinite;
}

h1.wiggle:hover {
  animation: none;
}
/*END SHAKER*/